html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 22px;
    color: #787878;
    font-family: 'Microsoft YaHei', Arial;
}
p{
    margin: 0;
}
header img, footer img{
    width: 100%;
}
.content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 100%;
    overflow: hidden;
}
.main{
    -webkit-box-flex: 1;
    overflow: auto;
    -webkit-overflow-scroll: touch;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    border-bottom: 1px solid #eee;
    padding: 16px;
    display: -webkit-box;
    opacity: 0;
}
.head-img{
    width: 78px;
    min-height: 78px;
    border-radius: 5px;
}
.msg-box{
    position: relative;
    -webkit-box-flex: 1;
    vertical-align: top;
    height: 78px;
    margin: 0 6px 0 16px;
}
.head{
    position: relative;
}
.msg-count{
    color: #fff;
    background-color: #F43530;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.msg{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.name{
    color:#000;
}

.fade-in{
    -webkit-animation: fade-in .8s linear;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1}
}


